html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.begin{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.countdown{
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background-size: cover;
    background-color: bisque;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.spel1{
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.spel2{
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.eind{
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.informatie{
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background-color: bisque;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.Button{
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background: rgba(4, 4, 4, 0.14);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(4, 4, 4, 0.86);
}

.Game_Button{
    padding: 10px;
    font-size: 20px;
    background-color: grey;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

#Title{
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#vraag{
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#achtergrond img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
}

#SpelAchtergrond img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
}

#eind_scherm img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
}

#eind_score{
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#gametimer, #gametimer2{
    position: absolute;
    
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;
}